extends ./layout/index


block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina} 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a aliquam lectus. Fusce euismod mauris vitae efficitur ultrices. Nulla aliquet ornare sapien, tempor laoreet velit vestibulum malesuada. Etiam non tempor turpis, vitae ultricies erat. Quisque pulvinar nulla id sapien consectetur,
                br
                p Fusce id tortor varius, hendrerit leo ut, egestas ligula. In auctor ligula at arcu commodo, eu rhoncus eros malesuada. Vivamus in tortor dictum tellus semper varius vel at tortor. Pellentesque ac dolor non nunc interdum mollis. 
                br
                p Donec rhoncus sem nec enim ornare placerat. Integer tempus fringilla euismod. Phasellus bibendum massa ex, at iaculis enim consequat at. In luctus, nisl at ornare efficitur, lectus lectus volutpat mi, non laoreet nulla sem sit amet ante. Donec a nibh at libero fringilla hendrerit.  


    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4    
                    img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Donec rhoncus sem nec enim ornare placerat. Integer tempus fringilla euismod. Donec rhoncus sem nec enim ornare placerat. 

                .col-md-4    
                    img(src="img/icono_destinos.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Donec rhoncus sem nec enim ornare placerat. Integer tempus fringilla euismod. Donec rhoncus sem nec enim ornare placerat. 
                    
                .col-md-4    
                    img(src="img/icono_precios.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios
                    p Donec rhoncus sem nec enim ornare placerat. Integer tempus fringilla euismod. Donec rhoncus sem nec enim ornare placerat. 
            